body {
    color: white;
    background: black;
    font-family: "Handjet", sans-serif;
    }

    header{
        border: solid 2px rgb(247, 247, 247);
        padding: 20px;
        font-size: 32px;
        color: rgb(243, 237, 241);
    }

    section{
    background:rgb(9 38 56);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }